absl-py
astor
backports.weakref
bleach
boto3
botocore
click
docutils
enum34
Flask
funcsigs
gast
gevent
gunicorn
greenlet
grpcio
h5py
html5lib
itsdangerous
Jinja2>=2.10.1
jmespath
Keras
Keras-Applications
Keras-Preprocessing
Markdown
MarkupSafe
mock
numpy
opencv-python
pbr
protobuf
pyyaml>=4.2b1
python-dateutil
s3transfer
scipy
six
tensorboard
tensorflow
termcolor
urllib3>=1.24.2
Werkzeug
